$color_nav_bg: #000000;
$color_text: #444444; // base text color
$color_text_alt: #F7F7F7; // color for text on dark backgrounds
$color_accent: #2962FF; // color of accents (foundation calls this primary), like links
$color_link_hover: #448AFF; // color of links when hovering
