$nav_height: 4rem;
$content-padding: 5rem;

@mixin bg-contain {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

@mixin bg-cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
