@import "common";

.site-header {
	padding-top: 5rem + $nav_height;
	padding-bottom: 5rem;

	background-color: $color_header_bg;
	@include bg-cover;
	text-align: center;
	color: $color_text_alt;

	& > div:first-of-type {
		max-width: $header_max_content_width;
		margin-left: auto;
		margin-right: auto;
	}
}
