@import "color";
@import "common";

.site-header {
	padding-top: 3rem + $nav_height;
	padding-bottom: 3rem;

	@include bg-cover;
	text-align: center;
	color: $color_text_alt;

	& > div:first-of-type {
		max-width: $header_max_content_width;
		margin-left: auto;
		margin-right: auto;
	}
}
