@import "foundation-styles";
@import "common";
@import "color";
@import "header";
@import "social";
@import "error";
@import "partials/_partials.scss";
@import "pages/_pages.scss";

html {
	font-size: 16px; // reset font size
	color: $color_text;
}

body > header {
	margin-bottom: 2rem; // margin after main header/masthead
}

.outer {

}

.inner {

}

.copyright {

}

.site-wrapper {
	padding-left: $content-padding;
	padding-right: $content-padding;
}

.site-description {

}

.site-main {

}

.post-feed, .read-next {
	// Reset post text color back to our proper text color, as the entire post is contained within an anchor tag.
	a, a:visited {
		color: $color_text;
	}
}

.date-divider {

}
