@import "foundation-styles";
@import "common";
@import "header";
@import "social";
@import "error";
@import "partials/_partials.scss";
@import "pages/_pages.scss";

html {
	font-size: 16px; // reset font size
	color: $color_text;
}

body > header {
	margin-bottom: 2rem; // margin after main header/masthead
}

.outer {

}

.inner {

}

.copyright {

}

.site-wrapper {
	@include content-padding;
	@include content-container;
}

.post-feed {
	display: flex;
	flex-wrap: wrap;
}

.post-feed, .read-next {
	// Reset post text color back to our proper text color, as the entire post is contained within an anchor tag.
	a, a:visited {
		color: $color_text;
	}
}

.date-divider {

}
