@import "../common";

.site-footer {
	color: $color_text_alt;
	background-color: $color_nav_bg;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	@include content-padding;

	& > div:first-of-type {
		@include content-container;
	}
}
