@import "../color";
@import "../common";

.site-nav {
	position: fixed;
	top: 0;
	background-color: $color_nav_bg;
	height: $nav_height;
	line-height: $nav_height;
	opacity: 0.9;
	width: 100%;
	padding-left: $content-padding;
	padding-right: $content-padding;

	ul {
		list-style-type: none;
		margin: 0;
		line-height: $nav_height;
	}

	.site-nav-logo {

	}

	.left {

	}

	.right {

	}
}
