@import "../common";

.site-nav {
	position: fixed;
	top: 0;
	min-height: $nav_height;
	width: 100%;
	line-height: $nav_height;

	background-color: $color_nav_bg;
	opacity: 0.9;

	@include content-padding;

	& > div:first-of-type {
		@include content-container;

		ul {
			list-style-type: none;
			margin: 0;
			line-height: $nav_height;
		}

		.site-nav-logo {

		}
	}

	.float-left {
		ul {
			display: inline-block;
			margin-left: 1rem;
		}
	}

	@media screen and (max-width: 39.9375em) { /* small */
		.float-left { float: none !important; }
		.float-right { display: none; }
	}
}
