@import "../common";
@import "subscribe";

#subscribe {
	background-color: rgba(0, 0, 0, 0.9);
	color: $color_text_alt;

	& > div {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $content-padding;

		.content {
			max-width: 40rem;
			text-align: center;

			h1 {
				font-weight: bold;
			}
		}
	}

	.close-button {
		font-size: 5rem;
	}

	.form-group {
		margin-top: 1.75rem;
	}

	@include subscribe-form;
}
