@import "../common";

@mixin subscribe-form {
	.form-group { // div wrapper around form, added by ghost
		display: inline-block; // make inline so we can place the button after the input
	}

	form {
		margin-top: 2rem;
		input {
			display: inline-block;

			padding: 1.438rem; // matches the 48px of the button (defined below)
			border-radius: 0.35rem;
			min-width: 20rem;
			margin: 0;

			// On small screens, show the button under the input box, and remove the min width for proper sizing of the input field.
			@media screen and (max-width: 39.9375em) { /* small */
				display: block;
				min-width: 0;
			}
		}

		button {
			display: inline-block;

			padding: 1rem;
			border-radius: 0.35rem;
			margin-left: 0.5rem;

			background-color: $color_primary;
			color: $color_text_alt;


			// Display button under the input box on small screens.
			@media screen and (max-width: 39.9375em) { /* small */
				display: block;
				margin-top: 0.5rem;

				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.subscribe-form {
	margin-top: 2rem;
	margin-bottom: 2rem;

	text-align: center;
	padding: 5rem;
	background-color: $color_bg_alt;
	border-radius: 0.5rem;

	@include subscribe-form;
}