@import "../color";

@mixin author-profile-image($height) {
	height: $height;
	border-radius: 50%;
}

.author-profile-image {
	height: 3.5rem;
	border-radius: 50%;
	margin-right: 0.5rem;
}

.author-bio {

}

.author-meta {

}

.author-location {

}

.author-stats {

}

.author-card-name {

}

.author-card-button {

}

.author-card-content {

}