@import "../common";

.post-full {

}

.post-full-header {

}

.post-full-meta {

}

.post-full-meta-date {

}

.post-full-title {

}

.post-full-image {
	background-repeat: no-repeat;
	background-size: cover;

	height: $post_img_size;
	width: $post_img_size;

	margin: 0;
}

.post-full-content {

}

.post-full-footer {
	@include clearfix;

	.author-card {
		float: left;
	}
}

.post-full-footer-right {
	float: right;
}

.read-next {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.read-next-feed {

}

.read-next-card {

}

.read-next-card-header-title {

}

.read-next-card-header-sitetitle {

}

.read-next-divider {

}

.read-next-card-content {

}

.read-next-card-footer {

}