{{#if @labs.subscribers}}
	<div id="subscribe" class="full reveal" data-reveal>
		<div>
			<button class="close-button" data-close aria-label="Close" type="button">
				<span aria-hidden="true">&times;</span>
			</button>

			<div class="content">
				{{#if @blog.logo}}
					<img src="{{@blog.logo}}" alt="{{@blog.title}}" />
				{{/if}}

				<h1>Subscribe to {{@blog.title}}</h1>
				<h4>Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</h4>

				{{subscribe_form placeholder="youremail@example.com"}}
			</div>
		</div>
	</div>
{{/if}}
